.modal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100vw;
	top: 0;
	z-index: 11;
}
.modalInner {
	background-color: #fff;
	padding: 4% 2%;
	position: relative;
	text-align: center;
	width: 30%;
}
.heading {
	font-size: 24px;
	margin-top: 0;
}

.notesForm {
	margin-top: 50px;
}
.notesForm input {
	border: 1px solid #333;
	padding: 10px;
}
.notesForm button {
	background-color: #fff;
	border: 1px solid #333;
	cursor: pointer;
	padding: 10px 20px;
}

.closeButton {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 1%;
	top: 2%;
	z-index: 12;
}
.navigation {
	align-items: center;
	display: flex;
	font-size: 20px;
	justify-content: space-between;
	margin-top: 20px;
}
.navigation span {
	align-items: center;
	background-color: #ddd;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 10px 30px;
}
.navigation span:hover {
	background-color: #aaa;
}
.navigation svg {
	padding: 0 5px;
}
