body {
	background-image: url(./images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}
body:before {
	background-color: rgb(0, 0, 0, 0.6);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}
.containerInner {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px #666;
	padding: 2%;
	width: 25%;
}
.heading {
	text-align: center;
}
.generateButton {
	background-color: #4ba9fb;
	border: 2px solid #4ba9fb;
	border-radius: 5px;
	color: #fff;
	display: flex;
	cursor: pointer;
	margin: 10px auto;
	outline: none;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.generateButton:hover {
	background-color: #fff;
	color: #4ba9fb;
	transition: all 0.3s ease;
}


@media only screen and (max-width: 768px) {
    .container {
        margin: 5%;
    }
	.containerInner {
		width: 80%;
	}
}
